{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<div class="container text-center">
  <div>
    <h3>Advancements</h3>
    <div id="advancementFilters">
      <!-- Each advancement gets a checkbox -->
      {% for adv in advancements %}
      <input
        type="checkbox"
        id="{{ adv[0] }}"
        name="{{ adv[0] }}"
        value="{{ adv[0] }}"
        onChange="updateFilters()"
      />
      <label for="{{ adv[0] }}">{{ adv[1] }}</label><br />
      {% endfor %}
    </div>
  </div>
  <div>
    <div>
      <h3>Accessories</h3>
      <div>
        {% for accessory in accessories %}
          {% with item=accessory %}
            {% include "itemCard.html" %}
          {% endwith %}
        {% endfor %}
      </div>
      <div>
        <h3>Weapons</h3>
        <div>
          {% for weapon in weapons %}
            {% with item=weapon %}
              {% include "itemCard.html" %}
            {% endwith %}
          {% endfor %}
        </div>
      </div>
      <div>
        <h3>Armor</h3>
        <div>
          {% for armor in armor %}
            {% with item=armor %}
              {% include "itemCard.html" %}
            {% endwith %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  filters = document.cookie.split("filters=")[1];
  if (filters) {
    filters = filters.split(",");
    for (let i = 0; i < filters.length; i++) {
      document.getElementById(filters[i]).checked = true;
    }
  }

  function updateFilters(event) {
    advancementFilters = document.getElementById("advancementFilters");
    let filters = [];
    for (let i = 0; i < advancementFilters.children.length; i++) {
      if (advancementFilters.children[i].checked) {
        filters.push(advancementFilters.children[i].value);
      }
    }
    document.cookie = "filters=" + filters.join(",");
    window.location.href = "/";
  }

  function equipItem(itemid, itemtype) {
    fetch("/equipItem", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ itemid: itemid, itemtype: itemtype }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (!data["success"]) {
          alert(data["error"]);
        }
        else {
          document.getElementById("ItemButton" + itemtype + itemid).disabled = true;
          document.getElementById("ItemButton" + itemtype + itemid).innerText = "Equipped";
        }
      });
  }
</script>
{% endblock %}
